body{
    margin: auto;
}
.navbar{
    background-color: black;
    color: white; 
    padding: 0 2em 0.7em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul{
    list-style: none; 
}
.nav-links>ul>li{
    display: inline;
    padding: 0 3em 0 3em;
} 
.other-links>ul>li{
    display: inline;
    padding-left: 1em; 
} 
a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: white;
}
.navbar a:hover{
    border-bottom: 2px solid #ED661F;
}
.nav-links{
    display: inline;

}
.button{
    background-color: #ED661F;
    text-align: center;
    padding: 10px;
    border: 0;
}
.explore{
    background-image:url("images/background-wheat.png");
    background-size: contain;
    padding: 3em 0 7em 4em;
    display: flex;
    justify-content: space-around;
}
 .intro{
    padding: 3em 0 7em 4em ;
}
#veggies{
    height: 60%;
    width: 100%;
}  
.numbers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    box-shadow: 1px 3px 7px grey;
    width: 60%;
    padding: 2.5em;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -9em;
    left: 13em; 
    background-color: white;
} 
.why-exist{
    display: flex;
    justify-content: space-around;
    padding: 3em 0 7em 4em;
    display: flex;
    justify-content: space-around;
}
#why{
    padding: 1em 0 3em 4em;
}
#cust-serv-img{
    height: auto;
    max-width: 100%;
} 
/* h2{
    border-bottom: 2px solid #ED661F;

} */
.categories{
    display: block;
    text-align: center;
    padding: 0 15em 2em 15em;
}  
.popular{
    display: flex;
    justify-content: space-around;
    padding: 0 0 7em 6em;
    display: flex;
    justify-content: space-around;
} 
#carrots1, #cereals1, #fish1, #kales1{
    height: auto;
    width: 20em;
}
.price {
    font-weight: 600;
}
#heading1, #heading2{
    padding: 0 0 0 8em;
}
.newest{
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 8em;
    display: flex;
    justify-content: space-around;
}
#chicken1, #rice1, #mursik1, #tomatoes1{
    height: auto;
    width: 80%;
}
.product {
    padding: 1em
} 
.product:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#arrow, #arrow1{
    width: 3%;
    height: auto;
}
.see{
    color: black;
    display: block;
    text-align: right;
}
.line{
    border-top: 2px solid rgb(117, 117, 117);
    border-bottom: 16px outset rgb(255, 254, 254);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.say{
    padding: 1em 0 1em 8em;
}
.comments{
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 2em 8em;  
    font-weight: 700;
    font-size: larger;
}
.star{
    display: inline;
}
#star1, #star2, #star3, #star4, #star5, #star6{
    width: 1.5em;
    height: auto;
}
#rebecca, #john, #lavington{
    width: 10%;
    height: 10%;
    padding: 1em 1em 0 1em;
} 
#rebecca-m, #john-m, #lavington-m{
    display: flex;
}
#comment1, #comment2, #comment3{
    box-shadow: 1px 5px 5px grey;
    padding: 1em 3em 1em 1em ;
    margin: 0 2em 0 0;
}
.read-more{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4em;
    line-height: 1.7em;
    padding: 0 2em;
}
.underline-link {
    margin: 0em 1em;
    cursor: pointer;
}
.underline-link::after{
    content: "";
    background-color: #ED661F;
    height: 0.3em;
    width: 50%;
    display: flex;
}
.subscribe{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding:2em 0 4em 0 ;
    border-bottom: 2px solid white;
}
#input1{
    padding: 1em 3em 1em 3em;
    border: 0;
    margin-top: 4em;
    margin-right: -0.3em;
}
#email{
    padding: 1em 3em 1em 3em;
    background-color: #ED661F;
    border: 0;
    margin-top: 4em;
}
footer{
    background-color: black;
    color: white;
}
#instagram{
    width: 15%;
    height: auto;
    
}
#boxes{
    display: flex;
    justify-content: space-between;
}

.store-button {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 4px 8px ;
}
.store-icon {
    height: 36px;
    width: 36px;
}
.store-name {
    font-weight: 600;
    font-size: large;
}
.store-text {
    font-size: small;
}
#footer1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#other{
    display: flex;
    justify-content: space-between;
}
.h3{
    padding: 0 2em;

}
#other li {
    margin: 24px 0px;
}
.store-button p{
    margin: 0px;
}
.footer-text {
    text-align: center;
    font-weight: 600;
    margin: 0px;
    padding: 30px 0px;
}








