body{
    margin: auto;
}
.navbar{
    background-color: black;
    color: white; 
    padding: 0 2em 0.7em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
ul{
    list-style: none; 
}
.nav-links>ul>li{
    display: inline;
    padding: 0 3em 0 3em;
} 
.other-links>ul>li{
    display: inline;
    padding-left: em; 
} 
a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    color: white;
}
.nav-links{
    display: inline;

}
.button{
    background-color: #ED661F;
    text-align: center;
    padding: 10px;
    border: 0;
}
.explore{
    background-image:url("images/background-wheat.png");
    background-position: 80% 80%;
    background-size: contain;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%; 
}
#veggies{
    height: 100%;
    width: 100%;
}
/* .numbers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    box-shadow: ;
}  */



